/* body{
    font-family: 'Bree Serif', serif;
}
.logo-img{
    display: none;
}
.logo-texto{
    font-family: 'Bree Serif', serif;
    font-size: 1.3em;
    color: #fff;
}
.logo-texto span{
    font-size: 0.8em;
}
.nav-link{
    font-size: 1.1em;
}
.nav-link:hover{
    color:#fff;
}

.titulo{
    padding: 20px 0;
    font-family: 'Bree Serif', serif;
    color: #79278A;
}
.titulo h2{
    color: #5694A1;
}
.card{
    border: none;
}
.card-central{
    padding-top: 40px;
    padding-bottom: 90px;
    background-color: #ffffff;
    
}
.card-central .container-fluid{
    padding: 0 3rem;
}
.container-fluid{
    position: relative;
}
.card-box h4{
    font-family: 'Bree Serif', serif;
    color: #79278A;
}
.card-box p{
    font-family: 'Open Sans', serif;
}
.card-box b{
    color: #5694A1;
}
h1, h2{
    font-size: 2.5em;
    padding: 10px 0;
    color: #79278A;
}
h3{
    font-size: 1.6em;
    color:#5694A1;
}
h1, h2, h3, h4{
    font-family: 'Bree Serif', serif;
}
.consultorio p{
    font-size: 1em;
    font-family: 'Open Sans', serif;
}
.sugestao .card-header{
    text-align: center;
    color: #79278A;
}
.sugestao p{
    font-size: 0.8em;
    font-family: 'Open Sans', serif;
}
.footer{
    --roxo: #343a40;
    position: relative;
    bottom: 0;
    color: #fff;
    background-color: var(--roxo);
}

.imagem-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem-footer img{
    max-width: 150px;
    max-height: 150px;
}
.conteudo-footer{
    text-align: center;
}
.conteudo-footer address{
    padding-top: 10px;
}
.conteudo-footer ul{
    padding-inline-start: 0;
}
.conteudo-footer li{
    list-style-type: none;
}
.conteudo-footer li a{
    color: #fff;
}
.fa-whatsapp{
    color:lightgreen;
}
.fa-phone{
    color:blue;
}
@media (min-width: 576px) {
    .conteudo-footer{
        margin-top: 20px;
    }
    .conteudo-footer li a i{
        font-size: 1.5em;
    }
    .imagem-footer img{
        max-width: 200px;
        max-height: 200px;
    }
}
.copy{
    height: 35px;
}
.copy p{
    margin-bottom: 0;
    padding: 5px;
}

@media (min-width: 576px) {
    .logo-img{
        display: block;
    }
}


#79278A !important; */