.titulo{
    padding: 20px 0;
    font-family: 'Bree Serif', serif;
    color: #79278A;
}
.titulo h2{
    color: #5694A1;
}
.card{
    border: none;
}
.card-central{
    padding-top: 40px;
    padding-bottom: 90px;
    background-color: #ffffff;
    
}
.card-central .container-fluid{
    padding: 0 3rem;
}
.container-fluid{
    position: relative;
}
.card-box h4{
    font-family: 'Bree Serif', serif;
    color: #79278A;
}
.card-box p{
    font-family: 'Open Sans', serif;
}
.card-box b{
    color: #5694A1;
}